<style>
    .da a, .da label {
        margin-bottom: 0;
        margin-right: 15px;
        white-space: nowrap;
    }
</style>

<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <p>周华，男，1992.7 生，2012 参工，大专，single 🤣</p>
            <ul>
                <li><a href="mailto:netnr@netnr.com">netnr@netnr.com</a></li>
            </ul>
            <ul>
                <li><a href="https://netnr.top">https://netnr.top</a></li>
                <li>
                    <a href="https://www.netnr.com">https://www.netnr.com</a>
                    <ul>
                        <li><a href="https://rf.netnr.com">netnrf响应式框架</a>　　<a href="https://json.netnr.com">JSON编辑器</a></li>
                        <li><a href="https://md.netnr.com">Markdown编辑器</a>　　<a href="https://jz.netnr.com">jz弹窗插件</a></li>
                        <li><a href="http://updatebrowser.netnr.com">浏览器升级提示</a>　　<a href="https://jcute.netnr.com">jCute脚本</a></li>
                        <li><a href="https://nav.netnr.com">响应式导航栏</a>　　<a href="https://proxy.netnr.com">跨域代理</a></li>
                        <li><a href="https://v.netnr.com">VIP视频解析</a>　　<a href="https://chat.netnr.com">Chat聊天</a></li>
                        <li><a href="https://emoji.netnr.com">Emoji表情</a>　　<a href="https://gs.netnr.com">图床</a></li>
                        <li><a href="https://ad.netnr.com">API文档</a>　　<a href="https://kms.netnr.com">KMS</a></li>
                        <li><a href="https://tiny.netnr.com">Squoosh图片压缩</a></li>
                    </ul>
                </li>
                <li><a href="https://zme.ink">https://zme.ink</a></li>
                <li><a href="https://github.com/netnr">https://github.com/netnr</a></li>
                <li><a href="https://gitee.com/netnr">https://gitee.com/netnr</a></li>
            </ul>
            <ul>
                <li>ASP.NET、SQL、JavaScript、Linux</li>
            </ul>
        </div>
        <div class="col-md-12 text-center mt-4">
            <button class="btn btn-warning" data-toggle="modal" data-target="#myModalReward">赏</button>
        </div>
    </div>
</div>

<div id="myModalReward" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="/images/alipay.jpg" style="width:380px;max-width:100%">
                <img src="/images/wechat.jpg" style="width:380px;max-width:100%">
            </div>
        </div>
    </div>
</div>