<style>
    #divbox {
        position: relative;
    }

        #divbox > div {
            position: absolute;
            transition: all .4s;
        }
</style>

<div id="divbox"></div>

<script src="/js/pingcloud.js" asp-append-version="true"></script>