<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5></h5>
            <table class="table table-bordered">
                <tr>
                    <th>浏览器</th>
                    <th>内核</th>
                    <th>系统</th>
                    <th>设备</th>
                </tr>
            </table>
            <p>
                开源项目：<a href="https://github.com/fex-team/ua-device">https://github.com/fex-team/ua-device</a>
            </p>
        </div>
    </div>
</div>

<script src="/js/ua-device/useragent-base.js" asp-append-version="true"></script>
<script src="/js/ua-device/ua-device.js" asp-append-version="true"></script>
<script>
    var uainfo = navigator.userAgent;
    $('h5').html(uainfo);
    var uaobj = uaDevice(uainfo), ub = uaobj.browser, ue = uaobj.engine, uo = uaobj.os, ud = uaobj.device;
    $('<tr><td>' + ub.name + '</br>' + ub.version.original + '</td><td>' + ue.name + '</br>' + ue.version.original + '</td><td>' + uo.name + '</br>' + uo.version.original + '</td><td>' + ud.type + '</br>' + (ud.model || "") + '</td></tr>').appendTo($('table.table').find('tbody'));
</script>